* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
    background-color: black;
    color: var(--main-color-dark-mode);
}
body {
    font-family: "Cairo", sans-serif;
}
:root {
    /* This is for transition */
    --main-transition: 0.3s; 
    /* Colors I'm using */
    --main-color-white-mode: #6B3F69;
    --main-color-2: #8D5F8C;
    --main-color-dark-mode: #A376A2;
    --main-color-background: #DDC3C3;
}
/* Container style */
.container {
    padding: 0 15px;
    margin: 20px auto;
    max-width: 100%;
}
/* Small screens  */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium screens  */
@media (min-width: 768px) {
    .container {
        width: 970px;
    }
}
/* Large screens  */
@media (min-width: 768px) {
    .container {
        width: 1170px;
    }
}
/* Modifying all a & li elements */
a {
    text-decoration: none;
    color: var(--main-color-dark-mode);
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--main-color-dark-mode);
}
/* Header style */
header {
    display: flex;
    align-items: center;
}
header .icons {
    margin-right: 2%;
}
header .container {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    transition: var(--main-transition);
    position: sticky;
    top: 0;
    z-index: 1000;
    align-items: center;
    width: 90%;
}
header i {
    /* margin-right: -20px; */
    font-size: 24px;
    cursor: pointer;
}
header .bars {
    display: none;
}
@media (max-width: 767px) {
    header ul{
        display: none;
    }
    header .bars {
        display: flex;
        position: absolute;
        right: 80px;
    }
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo img {
    border-radius: 6px;
    height: 40px;
    width: 40px;
}
ul {
    display: flex;
    align-items: center;
    gap: 20px;
}
a {
    text-decoration: none;
    color: var(--main-color-text);
    font-size: 18px;
    transition: var(--main-transition);
    display: inline-block; /* The default is inline, so it won't work with transform: translateY */
    padding: 5px; /* This is to give more clickable area */
}
li:hover a {
    transform: translateY(-10px);
    color: var(--main-color-1);
}

