* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
    background-color: #121212;
    color: var(--main-color-dark-mode);
}
html.white body {
    background-color: white;
}
body {
    font-family: "SUSE Mono", sans-serif;
}
:root {
    /* This is for transition */
    --main-transition: 0.3s; 
    /* Colors I'm using */
    --main-color-white-mode: #6B3F69;
    --main-color-2: #8D5F8C;
    --main-color-dark-mode: #A376A2;
    --main-color-background: #DDC3C3;
}
/* Container style */
.container {
    padding: 0 15px;
    margin: 0 auto ;
    max-width: 100%;
}
/* Small screens  */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium screens  */
@media (min-width: 768px) {
    .container {
        width: 970px;
    }
}
/* Large screens  */
@media (min-width: 768px) {
    .container {
        width: 1170px;
    }
}
/* Main sections height */ 
main {
    height: 100vh;
}
/* Modifying all a & li elements */
a {
    text-decoration: none;
    color: var(--main-color-dark-mode);
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--main-color-dark-mode);
}
/* Header style */
header {
    padding: 0 40px;
    transition: var(--main-transition);
    position: sticky;
    top: 0;
    z-index: 1000;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}
header .container  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .container .icons {
    display: flex;
}
header .container .icons i {
    margin: 10px;
}
header i {
    font-size: 24px;
    cursor: pointer;
    color: white;
}
header .bars {
    display: none;
}
@media (max-width: 767px) {
    header ul{
        display: none;
    }
    header .container .icons .bars {
        display: flex;
        justify-content: space-between;
        /* position: absolute;
        right: 80px; */
    }
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo img {
    border-radius: 6px;
    height: 40px;
    width: 40px;
}
ul {
    display: flex;
    align-items: center;
    gap: 20px;
}
a {
    text-decoration: none;
    color: var(--main-color-text);
    font-size: 18px;
    transition: var(--main-transition);
    display: inline-block; /* The default is inline, so it won't work with transform: translateY */
    padding: 5px; /* This is to give more clickable area */
}
li:hover a {
    transform: translateY(-10px);
    color: var(--main-color-1);
}

/* Home page */
main {
    height: calc(100vh - 60px);
    position: relative;
}
main .main {
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
main .main .info p {
    max-width: 300px;
}
@media (max-width: 767px) {
    main .main  {
        display: flex;
        justify-content: center;
        text-align: center;
    }
}
main .main .img {
    width: 400px;
    border-radius: 10px;
    overflow: hidden;
    animation: up-down 3s linear infinite alternate;
}
@media (max-width: 767px) {
    main .main .img {
        display: none;
    }
}
@keyframes up-down {
    from {
        transform: translateY(-50px);
    }
    to {
        transform: translateY(0px);
    }
}
main .main .img img {
    max-width: 100%;
}
.down {
    position: absolute;
    bottom: 20px;
    right: 50%;
    font-size: 25px;
    animation: up-down 0.9s linear alternate infinite;
    cursor: pointer;
    padding: 10px;
}